*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(31, 22, 22, 0.8);
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.navbar .navbar_logo{
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1;

}
.navbar .navbar_links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.home_main{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.plain{
    position: absolute;
    width: 2000px;
    z-index: 1;
    top:calc(50%);
    left:calc(50%);
    transform: translate(-50%, -50%);
}
.cloud{
    position: absolute;
    width: 2500px;
    z-index: 1;
    top:calc(50% + 190px);
    left:calc(50%);
    transform: translate(-50%, -50%);
}
.base1{
    position: absolute;
    width: 2450px;
    z-index: 2;
    top:calc(50% - 60px);
    left:calc(50%);
    transform: translate(-50%, -50%);
}
.basewitree{
    position: absolute;
    width: 2400px;
    z-index: 3;
    top:calc(50% - 50px);
    left:calc(50%);
    transform: translate(-50%, -50%);
}
.Game_name{
    position: absolute;
    z-index: 4;
    top:calc(50% - 100px);
    left:calc(50% - 200px);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: rgb(61, 56, 56);
    h2{
        font-size: 6.5rem;
        font-weight: 300;
        line-height: 0.88;
    }
    h1{
        font-size: 3.5rem;
        font-weight: 600;
        line-height: .88;
    }
}
.vignette{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.7) 100%);
}
.tree{
    position: absolute;
    width: 1400px;
    z-index: 4;
    top:calc(50% + 290px);
    left:calc(50% + 600px);
    transform: translate(-50%, -50%);
}
.tree1{
    position: absolute;
    width: 800px;
    z-index: 5;
    top:calc(50% + 290px);
    left:calc(50% - 300px);
    transform: translate(-50%, -50%);
}
.tree2{
    position: absolute;
    width: 1000px;
    z-index: 6;
    top:calc(50% + 290px);
    left:calc(50% - 600px);
    transform: translate(-50%, -50%);
}
.bigtree{
    position: absolute;
    width: 2200px;
    z-index: 7;
    top:calc(50% + 190px);
    left:calc(50% + 900px);
    transform: translate(-50%, -50%);
}
.bigtree1{
    position: absolute;
    width: 1800px;
    z-index: 8;
    top:calc(50% + 190px);
    left:calc(50% - 700px);
    transform: translate(-50%, -50%);
}
.bigtree2{
    position: absolute;
    width: 1600px;
    z-index: 9;
    top:calc(50% + 190px);
    left:calc(50% + 300px);
    transform: translate(-50%, -50%);
}
.bush{
    position: absolute;
    width: 1200px;
    z-index: 10;
    top:calc(50% + 440px);
    left:calc(50% + 300px);
    transform: translate(-50%, -50%);
}
.bush1{
    position: absolute;
    width: 1000px;
    z-index: 11;
    top:calc(50% + 450px);
    left:calc(50% - 700px);
    transform: translate(-50%, -50%);
}
.bush2{
    position: absolute;
    width: 1600px;
    z-index: 12;
    top:calc(50% + 490px);
    left:calc(50% - 300px);
    transform: translate(-50%, -50%);
}
.Bbush{
    position: absolute;
    width: 1400px;
    z-index: 13;
    top:calc(50% + 430px);
    left:calc(50% + 800px);
    transform: translate(-50%, -50%);
}
.Bbush1{
    position: absolute;
    width: 1600px;
    z-index: 14;
    top:calc(50% + 430px);
    left:calc(50% + 600px);
    transform: translate(-50%, -50%);
}
.paralex{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    transform: translate(-50%, -50%);
}
.background{
    position: absolute ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video{
    position: absolute;
    background-color: black;
    width: 650px;
    height: 450px;
    left: 9%;
    top: 25%;
    z-index: 5;
}
.boxpage{
    position: absolute;
    width: 800px;
    height: 600px;
    top: 150px;
    left: 5%;
    z-index: 2;
}
.boxpageinfo{
    position: absolute;
    width: 400px;
    height: 700px;
    top: 300px;
    left: 53%;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.infoboxpage{
    position: absolute;
    width: 650px;
    height: 650px;
    top: 150px;
    left: 45%;
    z-index: 1;
}
.header{
    position: absolute;
    width: 800px;
    height: 400px;
    top: -200px;
    left: 30%;
    z-index: 101;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: .5;
        transform: translateY(300px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }
}
.clouds{
    position: absolute;
    width: 800px;
    height: 400px;
    top: -250px;
    left: -50px;
    z-index: 100;
    animation: appearCloudsP ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}
.clouds1{
    position: absolute;
    width: 800px;
    height: 400px;
    top: -250px;
    left: 60%;
    z-index: 100;
    animation: appearCloudsN ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}
@keyframes appearCloudsP{
    from{
        opacity: 0;
        scale: .5;
        transform: translateX(-1300px);
        
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}
@keyframes appearCloudsN{
    from{
        opacity: 0;
        scale: .5;
        transform: translateX(1300px);
        
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}
.youtube{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.combat img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.biomes img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}